# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.Rproj.user
data/segtest/seg_results/ws_test_1_13.prj
data/segtest/seg_results/ws_test_1_13.shp
data/segtest/seg_results/ws_test_1_13.shx
data/segtest/seg_results/ws_test_1_14.dbf
data/segtest/seg_results/ws_test_1_14.prj
data/segtest/seg_results/ws_test_1_14.shp
data/segtest/seg_results/ws_test_1_14.shx
data/segtest/seg_results/ws_test_1_15.dbf
data/segtest/seg_results/ws_test_1_15.prj
data/segtest/seg_results/ws_test_1_15.shp
data/segtest/seg_results/ws_test_1_15.shx
data/segtest/seg_results/ws_test_1_21.dbf
data/segtest/seg_results/ws_test_1_21.prj
data/segtest/seg_results/ws_test_1_21.shp
data/segtest/seg_results/ws_test_1_21.shx
data/segtest/seg_results/ws_test_1_22.dbf
data/segtest/seg_results/ws_test_1_22.prj
data/segtest/seg_results/ws_test_pan_5_33.shx
data/segtest/seg_results/ws_test_pan_5_33.shp
data/segtest/seg_results/ws_test_pan_5_33.prj
data/segtest/seg_results/ws_test_pan_5_33.dbf
data/segtest/seg_results/ws_test_pan_5_23.shx
data/segtest/seg_results/ws_test_pan_5_23.shp
data/segtest/seg_results/ws_test_pan_5_23.prj
data/segtest/seg_results/ws_test_pan_5_23.dbf
data/segtest/seg_results/ws_test_pan_4_33.shx
data/segtest/seg_results/ws_test_pan_4_33.shp
data/segtest/seg_results/ws_test_pan_4_33.prj
data/segtest/seg_results/ws_test_pan_4_33.dbf
data/segtest/seg_results/ws_test_pan_4_23.shx
data/segtest/seg_results/ws_test_pan_4_23.shp
data/segtest/seg_results/ws_test_pan_4_23.prj
data/segtest/seg_results/ws_test_pan_4_23.dbf
data/segtest/seg_results/ws_test_3_11.shx
data/segtest/seg_results/ws_test_3_11.shp
data/segtest/seg_results/ws_test_3_11.prj
data/segtest/seg_results/ws_test_3_11.dbf
data/segtest/seg_results/ws_test_2_11.shx
data/segtest/seg_results/ws_test_2_11.shp
data/segtest/seg_results/ws_test_2_11.prj
data/segtest/seg_results/ws_test_2_11.dbf
data/segtest/seg_results/ws_test_1_35.shx
data/segtest/seg_results/ws_test_1_35.shp
data/segtest/seg_results/ws_test_1_35.prj
data/segtest/seg_results/ws_test_1_35.dbf
data/segtest/seg_results/ws_test_1_34.shx
data/segtest/seg_results/ws_test_1_34.shp
data/segtest/seg_results/ws_test_1_34.prj
data/segtest/seg_results/ws_test_1_34.dbf
data/segtest/seg_results/ws_test_1_33.shx
data/segtest/seg_results/ws_test_1_33.shp
data/segtest/seg_results/ws_test_1_33.prj
data/segtest/seg_results/ws_test_1_33.dbf
data/segtest/seg_results/ws_test_1_32.shx
data/segtest/seg_results/ws_test_1_32.shp
data/segtest/seg_results/ws_test_1_32.prj
data/segtest/seg_results/ws_test_1_32.dbf
data/segtest/seg_results/ws_test_1_31.shx
data/segtest/seg_results/ws_test_1_31.shp
data/segtest/seg_results/ws_test_1_31.prj
data/segtest/seg_results/ws_test_1_31.dbf
data/segtest/seg_results/ws_test_1_25.shx
data/segtest/seg_results/ws_test_1_25.shp
data/segtest/seg_results/ws_test_1_25.prj
data/segtest/seg_results/ws_test_1_25.dbf
data/segtest/seg_results/ws_test_1_24.shx
data/segtest/seg_results/ws_test_1_24.shp
data/segtest/seg_results/ws_test_1_24.prj
data/segtest/seg_results/ws_test_1_24.dbf
data/segtest/seg_results/ws_test_1_23.shx
data/segtest/seg_results/ws_test_1_23.shp
data/segtest/seg_results/ws_test_1_23.prj
data/segtest/seg_results/ws_test_1_23.dbf
data/segtest/seg_results/ws_test_1_22.shx
data/segtest/seg_results/ws_test_1_22.shp
data/segtest/seg_results/ws_test_1_13.dbf
data/segtest/seg_results/ws_test_1_12.shx
data/segtest/seg_results/ws_test_1_12.shp
data/segtest/seg_results/ws_test_1_12.prj
data/segtest/seg_results/ws_test_1_12.dbf
data/segtest/seg_results/ws_test_1_11.shx
data/segtest/seg_results/ws_test_1_11.shp
data/segtest/seg_results/ws_test_1_11.prj
data/segtest/seg_results/ws_test_1_11.dbf
data/segtest/seg_results/meanshift/1_4_7_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_4_7_7.tif.shx
data/segtest/seg_results/meanshift/1_4_7_7.tif.shp
data/segtest/seg_results/meanshift/1_4_7_7.tif.prj
data/segtest/seg_results/meanshift/1_4_7_7.tif.dbf
data/segtest/seg_results/meanshift/1_4_6_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_4_6_7.tif.shx
data/segtest/seg_results/meanshift/1_4_6_7.tif.shp
data/segtest/seg_results/meanshift/1_4_6_7.tif.prj
data/segtest/seg_results/meanshift/1_4_6_7.tif.dbf
data/segtest/seg_results/meanshift/1_4_5_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_4_5_7.tif.shx
data/segtest/seg_results/meanshift/1_4_5_7.tif.shp
data/segtest/seg_results/meanshift/1_4_5_7.tif.prj
data/segtest/seg_results/meanshift/1_4_5_7.tif.dbf
data/segtest/seg_results/meanshift/1_4_4_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_4_4_7.tif.shx
data/segtest/seg_results/meanshift/1_4_4_7.tif.shp
data/segtest/seg_results/meanshift/1_4_4_7.tif.prj
data/segtest/seg_results/meanshift/1_4_4_7.tif.dbf
data/segtest/seg_results/meanshift/1_4_3_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_4_3_7.tif.shx
data/segtest/seg_results/meanshift/1_4_3_7.tif.shp
data/segtest/seg_results/meanshift/1_4_3_7.tif.prj
data/segtest/seg_results/meanshift/1_4_3_7.tif.dbf
data/segtest/seg_results/meanshift/1_4_2_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_4_2_7.tif.shx
data/segtest/seg_results/meanshift/1_4_2_7.tif.shp
data/segtest/seg_results/meanshift/1_4_2_7.tif.prj
data/segtest/seg_results/meanshift/1_4_2_7.tif.dbf
data/segtest/seg_results/meanshift/1_4_1_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_4_1_7.tif.shx
data/segtest/seg_results/meanshift/1_4_1_7.tif.shp
data/segtest/seg_results/meanshift/1_4_1_7.tif.prj
data/segtest/seg_results/meanshift/1_4_1_7.tif.dbf
data/segtest/seg_results/meanshift/1_3_7_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_3_7_7.tif.shx
data/segtest/seg_results/meanshift/1_3_7_7.tif.shp
data/segtest/seg_results/meanshift/1_3_7_7.tif.prj
data/segtest/seg_results/meanshift/1_3_7_7.tif.dbf
data/segtest/seg_results/meanshift/1_3_6_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_3_6_7.tif.shx
data/segtest/seg_results/meanshift/1_3_6_7.tif.shp
data/segtest/seg_results/meanshift/1_3_6_7.tif.prj
data/segtest/seg_results/meanshift/1_3_6_7.tif.dbf
data/segtest/seg_results/meanshift/1_3_5_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_3_5_7.tif.shx
data/segtest/seg_results/meanshift/1_3_5_7.tif.shp
data/segtest/seg_results/meanshift/1_3_5_7.tif.prj
data/segtest/seg_results/meanshift/1_3_5_7.tif.dbf
data/segtest/seg_results/meanshift/1_3_4_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_3_4_7.tif.shx
data/segtest/seg_results/meanshift/1_3_4_7.tif.shp
data/segtest/seg_results/meanshift/1_3_4_7.tif.prj
data/segtest/seg_results/meanshift/1_3_4_7.tif.dbf
data/segtest/seg_results/meanshift/1_3_3_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_3_3_7.tif.shx
data/segtest/seg_results/meanshift/1_3_3_7.tif.shp
data/segtest/seg_results/meanshift/1_3_3_7.tif.prj
data/segtest/seg_results/meanshift/1_3_3_7.tif.dbf
data/segtest/seg_results/meanshift/1_3_2_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_3_2_7.tif.shx
data/segtest/seg_results/meanshift/1_3_2_7.tif.shp
data/segtest/seg_results/meanshift/1_3_2_7.tif.prj
data/segtest/seg_results/meanshift/1_3_2_7.tif.dbf
data/segtest/seg_results/meanshift/1_3_1_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_3_1_7.tif.shx
data/segtest/seg_results/meanshift/1_3_1_7.tif.shp
data/segtest/seg_results/meanshift/1_3_1_7.tif.prj
data/segtest/seg_results/meanshift/1_3_1_7.tif.dbf
data/segtest/seg_results/meanshift/1_2_7_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_2_7_7.tif.shx
data/segtest/seg_results/meanshift/1_2_7_7.tif.shp
data/segtest/seg_results/meanshift/1_2_7_7.tif.prj
data/segtest/seg_results/meanshift/1_2_7_7.tif.dbf
data/segtest/seg_results/meanshift/1_2_6_7.tif_packed.shx
data/segtest/seg_results/meanshift/1_2_6_7.tif_packed.shp
data/segtest/seg_results/meanshift/1_2_6_7.tif_packed.dbf
data/segtest/seg_results/meanshift/1_2_6_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_2_6_7.tif.shx
data/segtest/seg_results/meanshift/1_2_6_7.tif.shp
data/segtest/seg_results/meanshift/1_2_6_7.tif.prj
data/segtest/seg_results/meanshift/1_2_6_7.tif.dbf
data/segtest/seg_results/meanshift/1_2_5_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_2_5_7.tif.shx
data/segtest/seg_results/meanshift/1_2_5_7.tif.shp
data/segtest/seg_results/meanshift/1_2_5_7.tif.prj
data/segtest/seg_results/meanshift/1_2_5_7.tif.dbf
data/segtest/seg_results/meanshift/1_2_4_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_2_4_7.tif.shx
data/segtest/seg_results/meanshift/1_2_4_7.tif.shp
data/segtest/seg_results/meanshift/1_2_4_7.tif.prj
data/segtest/seg_results/meanshift/1_2_4_7.tif.dbf
data/segtest/seg_results/meanshift/1_2_3_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_2_3_7.tif.shx
data/segtest/seg_results/meanshift/1_2_3_7.tif.shp
data/segtest/seg_results/meanshift/1_2_3_7.tif.prj
data/segtest/seg_results/meanshift/1_2_3_7.tif.dbf
data/segtest/seg_results/meanshift/1_2_2_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_2_2_7.tif.shx
data/segtest/seg_results/meanshift/1_2_2_7.tif.shp
data/segtest/seg_results/meanshift/1_2_2_7.tif.prj
data/segtest/seg_results/meanshift/1_2_2_7.tif.dbf
data/segtest/seg_results/meanshift/1_2_1_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_2_1_7.tif.shx
data/segtest/seg_results/meanshift/1_2_1_7.tif.shp
data/segtest/seg_results/meanshift/1_2_1_7.tif.prj
data/segtest/seg_results/meanshift/1_2_1_7.tif.dbf
data/segtest/seg_results/meanshift/1_1_7_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_1_7_7.tif.shx
data/segtest/seg_results/meanshift/1_1_7_7.tif.shp
data/segtest/seg_results/meanshift/1_1_7_7.tif.prj
data/segtest/seg_results/meanshift/1_1_7_7.tif.dbf
data/segtest/seg_results/meanshift/1_1_6_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_1_6_7.tif.shx
data/segtest/seg_results/meanshift/1_1_6_7.tif.shp
data/segtest/seg_results/meanshift/1_1_6_7.tif.prj
data/segtest/seg_results/meanshift/1_1_6_7.tif.dbf
data/segtest/seg_results/meanshift/1_1_5_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_1_5_7.tif.shx
data/segtest/seg_results/meanshift/1_1_5_7.tif.shp
data/segtest/seg_results/meanshift/1_1_5_7.tif.prj
data/segtest/seg_results/meanshift/1_1_5_7.tif.dbf
data/segtest/seg_results/meanshift/1_1_4_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_1_4_7.tif.shx
data/segtest/seg_results/meanshift/1_1_4_7.tif.shp
data/segtest/seg_results/meanshift/1_1_4_7.tif.prj
data/segtest/seg_results/meanshift/1_1_4_7.tif.dbf
data/segtest/seg_results/meanshift/1_1_3_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_1_3_7.tif.shx
data/segtest/seg_results/meanshift/1_1_3_7.tif.shp
data/segtest/seg_results/meanshift/1_1_3_7.tif.prj
data/segtest/seg_results/meanshift/1_1_3_7.tif.dbf
data/segtest/seg_results/meanshift/1_1_2_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_1_2_7.tif.shx
data/segtest/seg_results/meanshift/1_1_2_7.tif.shp
data/segtest/seg_results/meanshift/1_1_2_7.tif.prj
data/segtest/seg_results/meanshift/1_1_2_7.tif.dbf
data/segtest/seg_results/meanshift/1_1_1_7.tif_conf.txt
data/segtest/seg_results/meanshift/1_1_1_7.tif.shx
data/segtest/seg_results/meanshift/1_1_1_7.tif.shp
data/segtest/seg_results/meanshift/1_1_1_7.tif.prj
data/segtest/seg_results/meanshift/1_1_1_7.tif.dbf
